@font-face {
        font-family: Papyrus;
	    src: url(../fonts/Papyrus.TTF);
}

html {
    height: 100%;
    color: #86181c;
    position: relative;
    font-family: Papyrus; 
    font-size: 1.5em;
    text-align: justify;
}

body {
    color: #86181c;
    /* Safari 5.1 to 6.0 */
    background: -webkit-repeating-linear-gradient(left, #86181c, #481C18 100%, #86181c);

    /* Opera 11.1 to 12.0 */
    background: -o-repeating-linear-gradient(left, #86181c, #AE1C18 50%, #86181c);
    /* Firefox 3.6 to 15 */
    background: -moz-repeating-linear-gradient(left, #86181c, #AE1C18 50%, #86181c);
    /* Standard syntax */
    background: repeating-linear-gradient(left, #86181c, #AE1C18 50%, #86181c);
    font-family: Papyrus; 
    font-size: 1em;
}


/* Portrait phones and smaller */
@media (max-width: 760px) {
    body {
        font-size: 15px;
    }
.navbar-nav .open .dropdown-menu  { 
    width: 80%;
}
}

a{ 
    color: #86181c;
    text-decoration: underline;
}

div#page {
    margin-top: 2%;
    padding: 5%;
    height: 100%;
    min-height: 800px;
    border-radius: 25px;
   /*border-style: solid;*/
    /*border-color: #86181c;*/
    /*background: #FFFFFF;*/
    background-image: url("../img/background3.png");

}


div#page-nopad {
    margin-top: 2%;
    padding: 1%;
    height: 100%;
    border-radius: 50px;
    background-image: url("../img/background3.png");

}

div#galery { 
    margin-top: 10%;
}

h1 {
    text-align: center;
    font-size: 2.5em;;
}

h2 {
    padding-top: 1%; 
    font-size: 1.5em;;
}


hr {
	border-top: 2px solid #86181c;
    padding-bottom: 1%; 
}


.navbar-default {
    margin: .2em auto;
    border: 0pt;
    font-size: 1em;
    background: rgba(255, 0,0 ,0);
}


.navbar-default .navbar-nav > li > a {
    color: #fae9b3;
    text-decoration: none;
    }

    .navbar-default .navbar-nav > .active{
    color: #86181c;
    border-radius: 5pt;
    /*background: #fae9b3;*/
    background-image: url("../img/background3.png");
    }

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    font-weight: bold;
    color: #fae9b3;
}

 .navbar-default .navbar-nav > .active > a:hover {
    border-color: "red";
    text-color: "red";
 }
 .navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:focus {
    background-image: url("../img/background3.png");
    /*background: #fae9b3;*/
    color: #86181c;
    border-radius: 5pt;
    text-decoration: none;
 }

.navbar .nav li a {
     text-align: center;
 }

.navbar-default .navbar-toggle {
	border-color: gray;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent;
}

 div#logo {
    height: 25%;
    display: block;
    margin: 10% auto;
    
 }
 div#welcome {
     margin: 5% 0;
     height: 10%;
     font-size:200%;
     vertical-align: top;
    
 }

.vertical-center {
     min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
     min-height: 100%; /* These two lines are counted as one :-)       */
     display: flex;
 }

#background {
  background: -webkit-linear-gradient(left, red , blue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, red, blue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, red, blue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, red , blue); /* Standard syntax */
}



.dropdown-menu  {
    color: #c52413;
    border-radius: 5pt;
    /*background: #fae9b3;*/
    background-image: url("../img/background3.png");
    left:auto;
    font-size: 90%;
}


.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    /*background: #fae9b3;*/
    background-image: url("../img/background3.png");
    color: #777;
    border-radius: 5pt;
    text-decoration: none;
}

.navbar .nav li .dropdown-menu li {
    display: block; 
    width: auto;
    font-size: 110%;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #86181c;
    text-decoration: none;
    text-align: left;
}
.navbar-nav .open .dropdown-menu {
    border-radius: 5pt;
}

.navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-nav .open .dropdown-menu > li > a:focus {
    background: #86181c;
    color: #fae9b3;
}

.dropdown-menu .divider {
	background-color: #86181c;
}

.dropdown-toggle#active {
    color: #86181c;
    border-radius: 5pt;
    /*background: #fae9b3;*/
    background-image: url("../img/background3.png");

}


div.soins {
    margin-bottom: 5%;
}

p.soins {
    text-align: justify;
    font-size: 110%;
}

p#par { 
    font-size: 110%;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
   border-color: gray;

}

.table.table-responsive {
    border: none;

}

.table.table-responsive tr th {
   border-color: #86181c;
}

.table.table-responsive tr td {
   border-color: #86181c;

}

.chf {
text-align: right; 
}

ul#diplome {
    padding-left: 5%;
}

ul#diplome li {
    margin: 10px 0;
}

ul#diplome ul li {
    margin: 0 0;
}

#address {
  font-size:100%;
  padding: 20px;
}

#map-outer {  
  height: 100%; 
  padding: 20px; 
  margin-bottom: 20px; 
  top: 10%;
}
#map-container { height: 100%; min-height: 400px; width: 100%; border: 5pt;}
